/* Estilos del contenedor principal del navbar */
.NavBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #ffae3b;
  border-bottom: 2px solid #ddd;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
}

/* Contenedor del título (centrado) */
.titleContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centra el título */
  align-items: center;
}

/* Estilos del título */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
  text-transform: uppercase;
  text-align: center;
}

/* Estilos para el logo (izquierda) */
.imageLogo {
  width: 60px;
  height: 60px;
}

/* Contenedor de los botones (derecha) */
.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Botón de menú hamburguesa */
.menuButton {
  display: none; /* Oculta el botón en pantallas grandes */
}

/* Contenedor de enlaces */
.linksContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Estilos para los botones */
.authLink {
  text-decoration: none;
}

.loginButton, 
.logoutButton, 
.menuAppointmentButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logoutButton {
  background-color: #ff4d4d;
}

.loginButton {
  background-color: #038b3c;
}

.logoutButton:hover {
  background-color: #e60000;
  transform: scale(1.05);
}

.menuAppointmentButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .buttonsContainer {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 10px;
  }

  .menuButton {
    display: block; /* Se muestra en móviles */
  }

  .linksContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4rem;
    right: 10px;
    background: #fff;
    width: 220px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }

  .linksContainer.open {
    display: flex !important;
  }
}
